.rotateCardRight {
  transform: rotateY(30deg) rotateZ(-1deg);
}

.rotateCardLeft {
  transform: rotateY(-30deg) rotateZ(1deg);
}

.rotateCardLeft:hover,
.rotateCardRight:hover {
  transform: rotate(0deg);
}

.perspective {
  perspective: 100px;
}

.nxt-img>img {
  object-fit: cover;
}
