/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-300);
  /* border-radius: 0.4rem; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-500);
  /* border-radius: 0.3rem; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-400);
}
